@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-scholarly-blue: #2a4d69;
  --color-warm-amber: #ffc107;
  
  --font-family-display: Inter, sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
